* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("beach.png");
    background-size: 1436px 710px;
    background-repeat: no-repeat;
}

header {
    background: #FEDB7E;
    padding: 20px;
}

header > h1 {
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.score-board {
    margin: 20px auto;
    border: none;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: 'Oleo Script Swash Caps', cursive; 
    position: relative;
}

.badge {
    background: red;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Oleo Script Swash Caps', cursive; 
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -25px;
    font-family: 'Oleo Script Swash Caps', cursive; 
}

.result > p {
    text-align: center;
    font-size: 40px;
    color: #D6C0E0;
    text-shadow: 2px 2px 0 red;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive; 
}


.choices {
    margin: 50px 0;
    text-align: center;
}

.choice {
    font-size: 50px;
    border: 4px solid #FCCA7B;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px 20px;
    display: inline-block;
}

.choice:hover {
    cursor: pointer;
    background-color: #FCCA7B;
}

#action-message {
    text-align: center;
    color: #5C5567;
    font-family: 'Oleo Script Swash Caps', cursive; 
    font-weight: bold;
    font-size: 20px;
}

.resultAnnounce > p {
    color: black;
    font-family: 'Oleo Script Swash Caps', cursive; 
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px 20px 0px;
}

.roundCount > p {
    font-size: 40px;
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive; 
    font-weight: bold;
}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 4px solid #fc121b;
    box-shadow:  0 0 10px #d01115;
}

.gray-glow {
    border: 4px solid #464647;
    box-shadow: 0 0 10px #24292b;
}

